body {
    background-color: #BA2742;
    color: black;
}

header {
    background-color: orange;
    min-height: 150px;
}

h1 {
    color: black;
    padding-left: 40px;
    padding-top: 40px;
}

a {
    color: black;
}

article {
    width: 500px;
    border: 2px solid white;
    background-color: #f3c2bd;
}

.article-container {
    margin: 20px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: fit-content;
    background-color: #f3c2bd;
    position: relative;
    left: 50%;
}